.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.resume-page {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.resume-link {
  margin-top: 20px;
}

.resume-link a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.resume-link a:hover {
  background-color: #23527c;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.about-text {
  max-width: 400px;
}

.wide-image img {
  max-width: 100%;
  margin-bottom: 20px;
}

.description-section {
  max-width: 600px;
  text-align: center;
}

.header {
  background-color: #333;
  color: black; /* Updated text color to black */
  padding: 20px;
  display: flex;
  justify-content: center; /* Center align navigation buttons */
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  display: flex;
  gap: 20px;
}

.header-link {
  color: white;
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
}

.header-link.active {
  font-weight: bold;
  color: red; /* Customize the active link color */
}




.footer {
  background-color: #f8f8f8;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  flex: 1;
  text-align: left;
}

.footer-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer-right {
  flex: 1;
  text-align: right;
}

.footer-text {
  margin: 0;
}

.footer-icon {
  margin: 0 0.5rem;
  color: #888;
  font-size: 20px;
}

.project-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  max-width: 300px;
  margin: 20px;
  text-align: center;
}

.project-item h2 {
  margin-bottom: 10px;
}

.project-item img {
  max-width: 100%;
  border-radius: 5px;
}
